<div *ngIf="editUser.id == 0">
    <h2 mat-dialog-title> Add Product </h2>
    </div>
    
    <div *ngIf="editUser.id != 0">
      <h2 mat-dialog-title> Edit Product </h2>
    </div>
    <mat-dialog-content>
      <form [formGroup]="userForm" (ngSubmit)="save()">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput type="text"  formControlName="first_name">
        </mat-form-field>
        <p></p>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput type="text"  formControlName="last_name">
        </mat-form-field>
        <p></p>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text"  formControlName="email">
        </mat-form-field>
        <p></p>
        <mat-form-field appearance="outline">
          <mat-label>Avater Url</mat-label>
          <input matInput placeholder="*.png; *.jpg; ..." formControlName="avatar" >
        </mat-form-field>
        <p></p> 
      </form> 
    </mat-dialog-content>
    
    <mat-dialog-actions align="end">
        <button mat-raised-button type="submit" [disabled]="!userForm.valid" (click)="save()">Save</button>
        <button mat-raised-button (click)="cancel()">Cancel</button>
    </mat-dialog-actions>